In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import kagglehub
path=kagglehub.dataset_download('vijayuv/onlineretail')

Using Colab cache for faster access to the 'onlineretail' dataset.

### **PART A: Initial Data Exploration**

Task 1: Load the dataset and display basic information about its structure.

In [ ]:
r_df=pd.read_csv('/kaggle/input/onlineretail/OnlineRetail.csv',encoding='ISO-8859-1')

In [ ]:
r_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

**Task 2:** Show the first 15 and last 15 records.

In [ ]:
r_df.head(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom

In [ ]:
r_df.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

**Task 3:** Display a random sample of 20 transactions.

In [ ]:
r_df.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
408007,571926,22333,RETROSPOT PARTY BAG + STICKER SET,16,10/19/2011 16:41,1.65,16722.0,United Kingdom
306152,563737,23297,SET 40 HEART SHAPE PETIT FOUR CASES,1,8/18/2011 18:51,1.65,16261.0,United Kingdom
540756,581492,20659,ECONOMY LUGGAGE TAG,7,12/9/2011 10:03,2.46,NaN,United Kingdom
369643,569079,22666,RECIPE BOX PANTRY YELLOW DESIGN,6,9/30/2011 11:45,2.95,14226.0,United Kingdom
506509,579144,23552,BICYCLE PUNCTURE REPAIR KIT,12,11/28/2011 13:11,2.08,13269.0,United Kingdom
165195,550775,22904,CALENDAR PAPER CUT DESIGN,6,4/20/2011 13:18,2.95,15805.0,United Kingdom
339775,566602,23607,SET 10 CARDS HATS & STOCKINGS 17081,1,9/13/2011 16:05,1.66,NaN,United Kingdom
7705,537051,21916,SET 12 RETRO WHITE CHALK STICKS,1,12/5/2010 11:12,0.42,15708.0,United Kingdom
66356,541789,22317,FIVE CATS HANGING DECORATION,12,1/21/2011 13:07,2.55,14088.0,United Kingdom
13246,537429,84536A,ENGLISH ROSE NOTEBOOK A7 SIZE,2,12/6/2010 15:54,0.42,12748.0,United Kingdom
212545,555492,22523,CHILDS GARDEN FORK PINK,12,6/3/2011 14:24,0.85,16967.0,United Kingdom
348953,567474,23439,HAND WARMER RED LOVE HEART,5,9/20/2011 12:53,2.10,13448.0,United Kingdom
511778,579508,23118,PARISIENNE JEWELLERY DRAWER,1,11/29/2011 16:33,14.96,NaN,United Kingdom
535947,581217,35970,ZINC FOLKART SLEIGH BELLS,2,12/8/2011 9:20,4.13,NaN,United Kingdom
65022,541684,20727,LUNCH BAG BLACK SKULL.,10,1/20/2011 15:22,1.65,15498.0,United Kingdom
214008,555562,22380,TOY TIDY SPACEBOY,2,6/5/2011 14:45,2.10,17841.0,United Kingdom
498414,578519,20725,LUNCH BAG RED RETROSPOT,2,11/24/2011 13:56,1.65,14591.0,United Kingdom
458459,575840,23524,WALL ART HORSE & PONY,1,11/11/2011 11:56,3.75,13137.0,United Kingdom
346658,567196,22326,ROUND SNACK BOXES SET OF4 WOODLAND,12,9/19/2011 10:09,2.95,12379.0,Belgium
391555,570672,23234,BISCUIT TIN VINTAGE CHRISTMAS,6,10/11/2011 14:52,2.89,12536.0,France

**Task 4:** Find out how many rows and columns are in the dataset.

In [ ]:
r_df.shape

(541909, 8)

**Task 5:** List all column names.

In [ ]:
r_df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

**Task 6:** Check the data type of each column.

In [ ]:
r_df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

**Task 7:** Get a statistical summary of all numerical columns.

In [ ]:
r_df['Quantity'].sum()

np.int64(5176450)

In [ ]:
r_df['Quantity'].mean()

np.float64(9.55224954743324)

In [ ]:
r_df['Quantity'].median()

3.0

In [ ]:
r_df['Quantity'].mode()

0    1
Name: Quantity, dtype: int64

In [ ]:
r_df['Quantity'].var()

47559.39140913822

In [ ]:
r_df['Quantity'].std()

218.08115784986612

### **PART B: Data Quality Assessment**

**Task 8:** Identify which columns have missing values and how many.

In [ ]:
r_df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

**Task 9:** Find out how many transactions have missing CustomerID.

In [ ]:
r_df['CustomerID'].isna().sum()

np.int64(135080)

**Task 10:** Check if there are any duplicate rows in the dataset.

In [ ]:
r_df.duplicated().sum()

np.int64(5268)

**Task 11:** Identify transactions where Quantity is less than or equal to zero.

In [ ]:
r_df[r_df['Quantity']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

**Task 12:** Find transactions where UnitPrice is zero or negative.

In [ ]:
r_df[r_df['UnitPrice']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,12/8/2011 13:58,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,12/8/2011 13:58,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12/8/2011 15:24,0.0,NaN,United Kingdom

**Task 13:** Identify how many invoice numbers start with the letter 'C'.

In [ ]:
r_df['InvoiceNo'].str.startswith('C').sum()

np.int64(9288)

**Task 14:** Check if the Description column has any leading or trailing spaces.

In [ ]:
(r_df['Description'] != r_df['Description'].str.strip()).sum()

np.int64(114906)

### **PART C: Data Cleaning**

**Task 15:** Remove all rows where CustomerID is missing.

In [ ]:
r_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [ ]:
r_df.dropna(subset=['CustomerID'],inplace=True)

In [ ]:
r_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB

**Task 16:** For missing product descriptions, fill them with "Unknown Product"

In [ ]:
r_df['Description']=r_df['Description'].fillna("Unknown Product")

In [ ]:
r_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB

**Task 17:** Remove all duplicate transactions.

In [ ]:
r_df.drop_duplicates(inplace=True)

In [ ]:
r_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 401604 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401604 non-null  object
 1   StockCode    401604 non-null  object
 2   Description  401604 non-null  object
 3   Quantity     401604 non-null  int64
 4   InvoiceDate  401604 non-null  object
 5   UnitPrice    401604 non-null  float64
 6   CustomerID   401604 non-null  float64
 7   Country      401604 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.6+ MB

**Task 18:** Remove transactions where Quantity is less than or equal to zero.

In [ ]:
r_df = r_df[r_df['Quantity']>=0]

In [ ]:
r_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392732 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392732 non-null  object
 1   StockCode    392732 non-null  object
 2   Description  392732 non-null  object
 3   Quantity     392732 non-null  int64
 4   InvoiceDate  392732 non-null  object
 5   UnitPrice    392732 non-null  float64
 6   CustomerID   392732 non-null  float64
 7   Country      392732 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.0+ MB

**Task 19:** Remove transactions where UnitPrice is less than or equal to zero.

In [ ]:
r_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [ ]:
r_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392732 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392732 non-null  object
 1   StockCode    392732 non-null  object
 2   Description  392732 non-null  object
 3   Quantity     392732 non-null  int64
 4   InvoiceDate  392732 non-null  object
 5   UnitPrice    392732 non-null  float64
 6   CustomerID   392732 non-null  float64
 7   Country      392732 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.0+ MB

**Task 20:** Remove all cancelled transactions (invoices starting with 'C').

In [ ]:
r_df['InvoiceNo'].str.startswith("C").sum()

np.int64(0)

**Task 21:** Change the column name "Description" to "ProductName".

In [ ]:
r_df = r_df.rename(columns={'Description': 'ProductName'})

In [ ]:
r_df.columns

Index(['InvoiceNo', 'StockCode', 'ProductName', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

**Task 22:** Ensure the InvoiceDate column is in proper date-time format.

In [ ]:
r_df['InvoiceDate'] = pd.to_datetime(r_df['InvoiceDate'])

In [ ]:
r_df.dtypes

InvoiceNo              object
StockCode              object
ProductName            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

**Task 23:** Convert CustomerID to integer type.

In [ ]:
r_df['CustomerID']=r_df['CustomerID'].astype(int)

In [ ]:
r_df['CustomerID'].dtypes

dtype('int64')

**Task 24:** Reset the index after all cleaning operations.

In [ ]:
r_df.reset_index(drop=True,inplace=True)

In [ ]:
r_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392732 entries, 0 to 392731
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392732 non-null  object
 1   StockCode    392732 non-null  object
 2   ProductName  392732 non-null  object
 3   Quantity     392732 non-null  int64
 4   InvoiceDate  392732 non-null  datetime64[ns]
 5   UnitPrice    392732 non-null  float64
 6   CustomerID   392732 non-null  int64
 7   Country      392732 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 24.0+ MB

### **PART D: Feature Creation**

**Task 25:** Create a new column called "TotalPrice" that represents the total value of each transaction.

In [ ]:
r_df['TotalPrice']=r_df['UnitPrice']*r_df['Quantity']

In [ ]:
r_df['TotalPrice']=r_df['TotalPrice'].astype(float)

In [ ]:
r_df.sample(5)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
133296,553739,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-05-19 09:23:00,2.95,14895,United Kingdom,17.70
17460,538633,84993B,75 BLACK PETIT FOUR CASES,1,2010-12-13 13:28:00,0.42,16726,United Kingdom,0.42
158643,557027,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,4,2011-06-16 13:24:00,4.95,12816,Poland,19.80
293226,571912,21181,PLEASE ONE PERSON METAL SIGN,12,2011-10-19 15:26:00,2.10,17512,United Kingdom,25.20
99900,549425,21875,KINGS CHOICE MUG,6,2011-04-08 11:54:00,1.25,14030,United Kingdom,7.50

**Task 26:** Extract the year from InvoiceDate and store it in a new column "Year".

In [ ]:
r_df['Year']=r_df['InvoiceDate'].dt.year

In [ ]:
r_df.sample(5)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year
23159,539422,22358,KINGS CHOICE TEA CADDY,6,2010-12-17 14:23:00,2.95,13033,United Kingdom,17.70,2010
368448,579069,21615,4 LAVENDER BOTANICAL DINNER CANDLES,12,2011-11-28 10:31:00,1.25,14911,EIRE,15.00,2011
168812,558370,22231,JIGSAW TREE WITH BIRDHOUSE,7,2011-06-28 15:44:00,0.59,17750,United Kingdom,4.13,2011
204060,562615,84596G,SMALL CHOCOLATES PINK BOWL,8,2011-08-08 12:20:00,0.42,16458,United Kingdom,3.36,2011
46373,542719,21981,PACK OF 12 WOODLAND TISSUES,2,2011-01-31 14:18:00,0.29,17619,United Kingdom,0.58,2011

**Task 27:** Extract the month from InvoiceDate and store it in a new column "Month".

In [ ]:
r_df['Month']=r_df['InvoiceDate'].dt.month

In [ ]:
r_df.sample(5)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month
235182,566286,23005,TRAVEL CARD WALLET I LOVE LONDON,48,2011-09-11 14:58:00,0.42,14057,United Kingdom,20.16,2011,9
336810,576053,22865,HAND WARMER OWL DESIGN,4,2011-11-13 14:53:00,2.10,16726,United Kingdom,8.40,2011,11
288300,571436,22617,BAKING SET SPACEBOY DESIGN,6,2011-10-17 13:23:00,4.95,16076,United Kingdom,29.70,2011,10
21633,539217,85099B,JUMBO BAG RED RETROSPOT,20,2010-12-16 12:46:00,1.95,15394,United Kingdom,39.00,2010,12
16663,538513,21668,RED STRIPE CERAMIC DRAWER KNOB,6,2010-12-12 14:21:00,1.25,15454,United Kingdom,7.50,2010,12

**Task 28:** Extract the day from InvoiceDate and store it in a new column "Day".

In [ ]:
r_df['Day']=r_df['InvoiceDate'].dt.day

In [ ]:
r_df.sample(3)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day
78936,546774,85061W,WHITE JEWELLED HEART DECORATION,7,2011-03-16 15:45:00,0.85,14505,United Kingdom,5.95,2011,3,16
161593,557350,15034,PAPER POCKET TRAVELING FAN,24,2011-06-20 10:41:00,0.14,16670,United Kingdom,3.36,2011,6,20
296257,572213,22985,WRAP BILLBOARD FONTS DESIGN,25,2011-10-21 12:44:00,0.42,15358,United Kingdom,10.50,2011,10,21

**Task 29:** Extract the hour from InvoiceDate and store it in a new column "Hour".

In [ ]:
r_df['Hour']=r_df['InvoiceDate'].dt.hour

In [ ]:
r_df.sample(3)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour
67440,545338,22219,LOVEBIRD HANGING DECORATION WHITE,4,2011-03-01 17:32:00,0.85,17449,United Kingdom,3.40,2011,3,1,17
388996,581166,22972,CHILDREN'S SPACEBOY MUG,1,2011-12-07 14:43:00,1.65,15525,United Kingdom,1.65,2011,12,7,14
199393,562145,22690,DOORMAT HOME SWEET HOME BLUE,2,2011-08-03 10:45:00,7.95,17656,United Kingdom,15.90,2011,8,3,10

**Task 30:** Create a column "DayOfWeek" showing which day of the week the transaction occurred.

In [ ]:
r_df['DayOfWeek']=r_df['InvoiceDate'].dt.day_of_week

In [ ]:
r_df.sample(3)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek
123661,552563,22502,PICNIC BASKET WICKER SMALL,16,2011-05-10 11:54:00,4.95,17597,United Kingdom,79.20,2011,5,10,11,1
324197,574846,23275,SET OF 3 HANGING OWLS OLLIE BEAK,4,2011-11-07 11:59:00,1.25,14702,United Kingdom,5.00,2011,11,7,11,0
278224,570442,23294,SET OF 6 SNACK LOAF BAKING CASES,1,2011-10-10 14:37:00,0.83,16549,United Kingdom,0.83,2011,10,10,14,0

**Task 31:** Create a column "Quarter" showing which quarter (Q1, Q2, Q3, Q4) the transaction belongs to.

In [ ]:
r_df['Quarter'] ="Q"+r_df['InvoiceDate'].dt.quarter.astype(str)

In [ ]:
r_df.sample(3)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter
99589,549317,23010,CIRCUS PARADE BABY GIFT SET,1,2011-04-08 09:58:00,16.95,15109,United Kingdom,16.95,2011,4,8,9,4,Q2
341232,576463,22601,CHRISTMAS RETROSPOT ANGEL WOOD,5,2011-11-15 11:37:00,0.85,17974,United Kingdom,4.25,2011,11,15,11,1,Q4
176104,559356,23170,REGENCY TEA PLATE ROSES,12,2011-07-07 18:29:00,1.65,15416,United Kingdom,19.80,2011,7,7,18,3,Q3

**Task 32:** Create a column "RevenueCategory" with three levels:
- "Low" for transactions under 10
- "Medium" for transactions between 10 and 100
- "High" for transactions above 100

In [ ]:
r_df['RevenueCategory'] = np.where(
    r_df['TotalPrice'] < 10, 'Low',
    np.where(r_df['TotalPrice'] <= 100, 'Medium', 'High')
)

In [ ]:
r_df.sample(3)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory
171544,558750,23202,JUMBO BAG VINTAGE LEAF,10,2011-07-03 10:47:00,2.08,18226,United Kingdom,20.80,2011,7,3,10,6,Q3,Medium
212894,563674,10133,COLOURING PENCILS BROWN TUBE,40,2011-08-18 11:59:00,0.42,14132,United Kingdom,16.80,2011,8,18,11,3,Q3,Medium
220399,564489,21242,RED RETROSPOT PLATE,4,2011-08-25 14:13:00,1.69,15950,United Kingdom,6.76,2011,8,25,14,3,Q3,Low

**Task 33:** Create a column "OrderSize" with three levels:
- "Small" for Quantity less than 5
- "Medium" for Quantity between 5 and 20
- "Large" for Quantity greater than 20

In [ ]:
r_df["OrderSize"]=np.where(
    r_df['Quantity']<5 ,"Small",
    np.where (r_df['Quantity']<20,"Medium",'Large')
)

In [ ]:
r_df.sample(3)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize
135866,554075,37446,MINI CAKE STAND WITH HANGING CAKES,8,2011-05-22 11:29:00,1.45,16038,United Kingdom,11.6,2011,5,22,11,6,Q2,Medium,Medium
245557,567339,22951,60 CAKE CASES DOLLY GIRL DESIGN,24,2011-09-19 15:01:00,0.55,14146,United Kingdom,13.2,2011,9,19,15,0,Q3,Medium,Large
201323,562377,22624,IVORY KITCHEN SCALES,1,2011-08-04 15:04:00,8.50,14535,United Kingdom,8.5,2011,8,4,15,3,Q3,Low,Small

**Task 34:** Create a column that shows the length of each product name.

In [ ]:
r_df['lenofproductname']=r_df['ProductName'].str.len()

In [ ]:
r_df.sample(2)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
327407,575148,22959,WRAP CHRISTMAS VILLAGE,25,2011-11-08 15:48:00,0.42,13867,United Kingdom,10.5,2011,11,8,15,1,Q4,Medium,Large,22
252895,568095,90018A,SILVER M.O.P ORBIT DROP EARRINGS,2,2011-09-23 14:49:00,4.25,14911,EIRE,8.5,2011,9,23,14,4,Q3,Low,Small,32

### **PART E: Text Data Processing**

**Task 35:** Convert all product names to uppercase.

In [ ]:
r_df['ProductName']=r_df['ProductName'].str.upper()

In [ ]:
r_df.sample(2)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
341003,576396,23109,PACK OF SIX LED TEA LIGHTS,18,2011-11-15 10:41:00,2.89,16164,United Kingdom,52.02,2011,11,15,10,1,Q4,Medium,Medium,26
236476,566400,22423,REGENCY CAKESTAND 3 TIER,4,2011-09-12 13:16:00,12.75,17139,United Kingdom,51.00,2011,9,12,13,0,Q3,Medium,Small,24

**Task 36:** Remove any extra spaces from the Country column.

In [ ]:
r_df['Country']=r_df['Country'].str.strip()

In [ ]:
r_df.sample(2)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
277087,570284,23200,JUMBO BAG PEARS,3,2011-10-10 11:30:00,2.08,14419,United Kingdom,6.24,2011,10,10,11,0,Q4,Low,Small,15
377061,580094,23349,ROLL WRAP VINTAGE CHRISTMAS,1,2011-12-01 14:50:00,1.25,15904,United Kingdom,1.25,2011,12,1,14,3,Q4,Low,Small,27

**Task 37:** Find all products that contain the word "BAG" in their name.

In [ ]:
r_df[r_df['ProductName'].str.contains("BAG")]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583,France,17.0,2010,12,1,8,2,Q4,Medium,Large,31
86,536378,22386,JUMBO BAG PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,2,Q4,Medium,Medium,23
87,536378,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,2,Q4,Medium,Medium,30
88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688,United Kingdom,29.5,2010,12,1,9,2,Q4,Medium,Medium,31
89,536378,20723,STRAWBERRY CHARLOTTE BAG,10,2010-12-01 09:37:00,0.85,14688,United Kingdom,8.5,2010,12,1,9,2,Q4,Low,Medium,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392656,581579,23343,JUMBO BAG VINTAGE CHRISTMAS,30,2011-12-09 12:19:00,1.79,17581,United Kingdom,53.7,2011,12,9,12,4,Q4,Medium,Large,28
392657,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581,United Kingdom,35.8,2011,12,9,12,4,Q4,Medium,Large,25
392658,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,United Kingdom,71.6,2011,12,9,12,4,Q4,Medium,Large,22
392685,581581,23681,LUNCH BAG RED VINTAGE DOILY,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.5,2011,12,9,12,4,Q4,Medium,Medium,27
392688,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.0,2011,12,9,12,4,Q4,Medium,Large,23

**Task 38:** Find all products whose names start with "WHITE".

In [ ]:
r_df[r_df['ProductName'].str.startswith('WHITE')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,Q4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,Q4,Medium,Medium,19
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,2,Q4,Medium,Medium,34
50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850,United Kingdom,20.34,2010,12,1,9,2,Q4,Medium,Medium,19
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,2,Q4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392062,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-12-08 19:55:00,2.95,15796,United Kingdom,17.70,2011,12,8,19,3,Q4,Medium,Medium,34
392175,581476,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 08:48:00,4.25,12433,Norway,17.00,2011,12,9,8,4,Q4,Medium,Small,29
392412,581502,23210,WHITE ROCKING HORSE HAND PAINTED,12,2011-12-09 10:51:00,1.25,15910,United Kingdom,15.00,2011,12,9,10,4,Q4,Medium,Medium,32
392479,581538,21673,WHITE SPOT BLUE CERAMIC DRAWER KNOB,1,2011-12-09 11:34:00,1.45,14446,United Kingdom,1.45,2011,12,9,11,4,Q4,Low,Small,35
392538,581567,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 11:56:00,4.25,16626,United Kingdom,17.00,2011,12,9,11,4,Q4,Medium,Small,29

**Task 39:** Find all products whose names end with "HOLDER".

In [ ]:
r_df[r_df['ProductName'].str.endswith('HOLDER')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.3,2010,12,1,8,2,Q4,Medium,Medium,34
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.5,2010,12,1,8,2,Q4,Medium,Medium,33
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,2,Q4,Medium,Medium,34
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,25.5,2010,12,1,9,2,Q4,Medium,Medium,33
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,2,Q4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392537,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,United Kingdom,79.2,2011,12,9,11,4,Q4,Medium,Large,32
392564,581571,85053,FRENCH ENAMEL CANDLEHOLDER,2,2011-12-09 12:00:00,2.10,15311,United Kingdom,4.2,2011,12,9,12,4,Q4,Low,Small,26
392648,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581,United Kingdom,20.4,2011,12,9,12,4,Q4,Medium,Large,14
392695,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.0,2011,12,9,12,4,Q4,Medium,Medium,30
392699,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804,United Kingdom,20.4,2011,12,9,12,4,Q4,Medium,Large,34

**Task 40:** Replace "United Kingdom" with "UK" in the Country column.

In [ ]:
r_df['Country']=r_df['Country'].replace("United Kingdom","UK")

In [ ]:
r_df['Country'].unique()

array(['UK', 'France', 'Australia', 'Netherlands', 'Germany', 'Norway',
       'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal', 'Italy',
       'Belgium', 'Lithuania', 'Japan', 'Iceland', 'Channel Islands',
       'Denmark', 'Cyprus', 'Sweden', 'Finland', 'Austria', 'Greece',
       'Singapore', 'Lebanon', 'United Arab Emirates', 'Israel',
       'Saudi Arabia', 'Czech Republic', 'Canada', 'Unspecified',
       'Brazil', 'USA', 'European Community', 'Bahrain', 'Malta', 'RSA'],
      dtype=object)

**Task 41:** Replace "EIRE" with "Ireland" in the Country column.

In [ ]:
r_df['Country']=r_df['Country'].replace('EIRE','Ireland')

In [ ]:
r_df['Country'].unique()

array(['UK', 'France', 'Australia', 'Netherlands', 'Germany', 'Norway',
       'Ireland', 'Switzerland', 'Spain', 'Poland', 'Portugal', 'Italy',
       'Belgium', 'Lithuania', 'Japan', 'Iceland', 'Channel Islands',
       'Denmark', 'Cyprus', 'Sweden', 'Finland', 'Austria', 'Greece',
       'Singapore', 'Lebanon', 'United Arab Emirates', 'Israel',
       'Saudi Arabia', 'Czech Republic', 'Canada', 'Unspecified',
       'Brazil', 'USA', 'European Community', 'Bahrain', 'Malta', 'RSA'],
      dtype=object)

### **PART F: Data Selection and Filtering**

**Task 42:** Select only the columns: InvoiceNo, ProductName, Quantity, UnitPrice, Country.

In [ ]:
r_df[['InvoiceNo','ProductName',"Quantity", "UnitPrice", "Country"]]

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,UK
1,536365,WHITE METAL LANTERN,6,3.39,UK
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2.75,UK
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,UK
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,UK
...,...,...,...,...,...
392727,581587,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France
392728,581587,CHILDREN'S APRON DOLLY GIRL,6,2.10,France
392729,581587,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France
392730,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France
392731,581587,BAKING SET 9 PIECE RETROSPOT,3,4.95,France

**Task 43:** Display transactions from Germany only.

In [ ]:
r_df[r_df['Country']=="Germany"]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
1073,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662,Germany,17.70,2010,12,1,13,2,Q4,Medium,Medium,23
1074,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662,Germany,15.30,2010,12,1,13,2,Q4,Medium,Medium,35
1075,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662,Germany,10.20,2010,12,1,13,2,Q4,Medium,Medium,34
1076,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662,Germany,19.80,2010,12,1,13,2,Q4,Medium,Medium,29
1077,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662,Germany,23.40,2010,12,1,13,2,Q4,Medium,Medium,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392624,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,2011,12,9,12,4,Q4,Medium,Medium,28
392625,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,4,Q4,Medium,Medium,32
392626,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,4,Q4,Medium,Medium,29
392627,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,2011,12,9,12,4,Q4,Medium,Medium,32
392628,581578,22736,RIBBON REEL MAKING SNOWMEN,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,2011,12,9,12,4,Q4,Medium,Medium,27

**Task 44:** Display transactions where Quantity is greater than 50.

In [ ]:
r_df[r_df['Quantity']>50]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,2,Q4,High,Large,31
83,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-12-01 09:32:00,2.55,15291,UK,163.20,2010,12,1,9,2,Q4,High,Large,32
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688,UK,50.40,2010,12,1,9,2,Q4,Medium,Large,31
102,536378,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,2010-12-01 09:37:00,0.38,14688,UK,36.48,2010,12,1,9,2,Q4,Medium,Large,34
174,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,2010-12-01 09:57:00,1.65,16029,UK,165.00,2010,12,1,9,2,Q4,High,Large,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392528,581566,23404,HOME SWEET HOME BLACKBOARD,144,2011-12-09 11:50:00,3.26,18102,UK,469.44,2011,12,9,11,4,Q4,High,Large,26
392529,581567,21417,COCKLE SHELL DISH,84,2011-12-09 11:56:00,0.79,16626,UK,66.36,2011,12,9,11,4,Q4,Medium,Large,17
392537,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,UK,79.20,2011,12,9,11,4,Q4,Medium,Large,32
392569,581571,23167,SMALL CERAMIC TOP STORAGE JAR,96,2011-12-09 12:00:00,0.69,15311,UK,66.24,2011,12,9,12,4,Q4,Medium,Large,30
392690,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,2011-12-09 12:25:00,0.72,13777,UK,51.84,2011,12,9,12,4,Q4,Medium,Large,32

**Task 45:** Display transactions where UnitPrice is between 5 and 10.

In [ ]:
r_df[r_df['UnitPrice'].between(5,10)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,12,1,8,2,Q4,Medium,Small,28
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047,UK,19.90,2010,12,1,8,2,Q4,Medium,Small,30
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,2,Q4,Medium,Small,24
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,2,Q4,Medium,Small,24
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047,UK,31.80,2010,12,1,8,2,Q4,Medium,Small,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392678,581580,21351,CINAMMON & ORANGE WREATH,1,2011-12-09 12:20:00,6.75,12748,UK,6.75,2011,12,9,12,4,Q4,Low,Small,24
392681,581580,79321,CHILLI LIGHTS,2,2011-12-09 12:20:00,5.75,12748,UK,11.50,2011,12,9,12,4,Q4,Medium,Small,13
392701,581585,23356,LOVE HOT WATER BOTTLE,3,2011-12-09 12:31:00,5.95,15804,UK,17.85,2011,12,9,12,4,Q4,Medium,Small,21
392715,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,4,Q4,High,Large,29
392716,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,4,Q4,Medium,Medium,21

**Task 46:** Display transactions from France with Quantity greater than 20.

In [ ]:
grp_country=r_df.groupby('Country')
grp_france=grp_country.get_group('France')
grp_france[grp_france['Quantity']>20]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,Q4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,Q4,Medium,Large,25
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583,France,15.60,2010,12,1,8,2,Q4,Medium,Large,16
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583,France,40.80,2010,12,1,8,2,Q4,Medium,Large,27
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583,France,30.00,2010,12,1,8,2,Q4,Medium,Large,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387511,581001,23084,RABBIT NIGHT LIGHT,24,2011-12-07 08:07:00,1.79,12583,France,42.96,2011,12,7,8,2,Q4,Medium,Large,18
387525,581001,22726,ALARM CLOCK BAKELIKE GREEN,24,2011-12-07 08:07:00,3.75,12583,France,90.00,2011,12,7,8,2,Q4,Medium,Large,26
389103,581171,22966,GINGERBREAD MAN COOKIE CUTTER,24,2011-12-07 15:02:00,1.25,12615,France,30.00,2011,12,7,15,2,Q4,Medium,Large,29
389114,581171,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,2011-12-07 15:02:00,0.29,12615,France,13.92,2011,12,7,15,2,Q4,Medium,Large,33
389121,581171,23084,RABBIT NIGHT LIGHT,24,2011-12-07 15:02:00,1.79,12615,France,42.96,2011,12,7,15,2,Q4,Medium,Large,18

**Task 47:** Display transactions from December 2010.

In [ ]:
r_df[(r_df['InvoiceDate'].dt.year == 2010) & (r_df['InvoiceDate'].dt.month == 12)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,Q4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,Q4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,Q4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,Q4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,Q4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25668,539988,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,1,2010-12-23 16:06:00,1.25,18116,UK,1.25,2010,12,23,16,3,Q4,Low,Small,33
25669,539988,84849D,HOT BATHS SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,3,Q4,Low,Small,21
25670,539988,84849B,FAIRY SOAP SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,3,Q4,Low,Small,22
25671,539988,22854,CREAM SWEETHEART EGG HOLDER,2,2010-12-23 16:06:00,4.95,18116,UK,9.90,2010,12,23,16,3,Q4,Low,Small,27
25672,539988,47559B,TEA TIME OVEN GLOVE,2,2010-12-23 16:06:00,1.25,18116,UK,2.50,2010,12,23,16,3,Q4,Low,Small,19

**Task 48:** Display transactions that occurred on weekends.

In [ ]:
r_df[r_df['InvoiceDate'].dt.weekday >= 5]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
4943,537037,22114,HOT WATER BOTTLE TEA AND SYMPATHY,8,2010-12-05 10:03:00,3.95,17243,UK,31.60,2010,12,5,10,6,Q4,Medium,Medium,33
4944,537037,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2010-12-05 10:03:00,4.95,17243,UK,29.70,2010,12,5,10,6,Q4,Medium,Medium,32
4945,537037,22835,HOT WATER BOTTLE I AM SO POORLY,3,2010-12-05 10:03:00,4.65,17243,UK,13.95,2010,12,5,10,6,Q4,Medium,Small,31
4946,537037,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,6,Q4,Medium,Medium,30
4947,537037,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,6,Q4,Medium,Medium,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381645,580536,21156,RETROSPOT CHILDRENS APRON,8,2011-12-04 16:07:00,1.95,12490,France,15.60,2011,12,4,16,6,Q4,Medium,Medium,25
381646,580536,21880,RED RETROSPOT TAPE,12,2011-12-04 16:07:00,0.65,12490,France,7.80,2011,12,4,16,6,Q4,Low,Medium,18
381647,580536,22090,PAPER BUNTING RETROSPOT,6,2011-12-04 16:07:00,2.95,12490,France,17.70,2011,12,4,16,6,Q4,Medium,Medium,23
381648,580536,22628,PICNIC BOXES SET OF 3 RETROSPOT,4,2011-12-04 16:07:00,4.95,12490,France,19.80,2011,12,4,16,6,Q4,Medium,Small,32
381649,580536,POST,POSTAGE,3,2011-12-04 16:07:00,18.00,12490,France,54.00,2011,12,4,16,6,Q4,Medium,Small,7


**Task 49:** Display the top 10 transactions by TotalPrice.

In [ ]:
r_df.sort_values('TotalPrice').tail(10)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
108211,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,0,Q2,High,Large,34
32202,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,1,Q1,High,Large,34
304649,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,3,Q4,High,Large,18
32204,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,1,Q1,High,Large,34
108215,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,0,Q2,High,Large,34
246062,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,1,Q3,High,Large,35
116879,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,1,Q2,High,Small,7
153601,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,4,Q2,High,Large,30
36527,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,Q1,High,Large,30
392266,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,4,Q4,High,Large,27

**Task 50:** Display the bottom 15 transactions by TotalPrice.

In [ ]:
r_df.sort_values('TotalPrice').head(15)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
354241,577696,M,MANUAL,1,2011-11-21 11:57:00,0.0,16406,UK,0.0,2011,11,21,11,0,Q4,Low,Small,6
197495,561916,M,MANUAL,1,2011-08-01 11:44:00,0.0,15581,UK,0.0,2011,8,1,11,0,Q3,Low,Small,6
253564,568158,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 12:22:00,0.0,16133,UK,0.0,2011,9,25,12,6,Q3,Low,Small,26
28584,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.0,13081,UK,0.0,2011,1,6,16,3,Q1,Low,Large,22
316451,574175,22065,CHRISTMAS PUDDING TRINKET POT,12,2011-11-03 11:47:00,0.0,14110,UK,0.0,2011,11,3,11,3,Q4,Low,Medium,30
28582,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06 16:41:00,0.0,13081,UK,0.0,2011,1,6,16,3,Q1,Low,Large,23
271006,569716,22778,GLASS CLOCHE SMALL,2,2011-10-06 08:17:00,0.0,15804,UK,0.0,2011,10,6,8,3,Q4,Low,Small,18
135490,554037,22619,SET OF 6 SOLDIER SKITTLES,80,2011-05-20 14:13:00,0.0,12415,Australia,0.0,2011,5,20,14,4,Q2,Low,Large,25
33947,541109,22168,ORGANISER WOOD ANTIQUE WHITE,1,2011-01-13 15:10:00,0.0,15107,UK,0.0,2011,1,13,15,3,Q1,Low,Small,29
349894,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.0,12444,Norway,0.0,2011,11,18,13,4,Q4,Low,Small,30
348842,577168,M,MANUAL,1,2011-11-18 10:42:00,0.0,12603,Germany,0.0,2011,11,18,10,4,Q4,Low,Small,6
283412,571035,M,MANUAL,1,2011-10-13 12:50:00,0.0,12446,RSA,0.0,2011,10,13,12,3,Q4,Low,Small,6
318647,574469,22385,JUMBO BAG SPACEBOY DESIGN,12,2011-11-04 11:55:00,0.0,12431,Australia,0.0,2011,11,4,11,4,Q4,Low,Medium,25
24893,539722,22423,REGENCY CAKESTAND 3 TIER,10,2010-12-21 13:45:00,0.0,14911,Ireland,0.0,2010,12,21,13,1,Q4,Low,Medium,24
22096,539263,22580,ADVENT CALENDAR GINGHAM SACK,4,2010-12-16 14:36:00,0.0,16560,UK,0.0,2010,12,16,14,3,Q4,Low,Small,28

**Task 51:** Find all transactions from either UK, Germany, or France.

In [ ]:
r_df[r_df['Country'].str.lower().isin(['united kingdom', 'germany', 'france'])]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,Q4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,Q4,Medium,Large,25
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583,France,45.00,2010,12,1,8,2,Q4,Medium,Medium,26
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583,France,10.20,2010,12,1,8,2,Q4,Medium,Medium,31
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583,France,15.60,2010,12,1,8,2,Q4,Medium,Large,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392727,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,Q4,Medium,Medium,27
392728,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,Q4,Medium,Medium,28
392729,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,Q4,Medium,Small,29
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,Q4,Medium,Small,31
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,Q4,Medium,Small,29


**Task 52:** Find transactions where TotalPrice is above the 95th percentile.

In [ ]:
r_df[r_df['TotalPrice'] > r_df['TotalPrice'].quantile(0.95)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,Q4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,Q4,Medium,Large,25
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,2,Q4,Medium,Large,35
40,536370,22900,SET 2 TEA TOWELS I LOVE LONDON,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,2,Q4,Medium,Large,32
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,2,Q4,High,Large,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392650,581579,23313,VINTAGE CHRISTMAS BUNTING,15,2011-12-09 12:19:00,4.95,17581,UK,74.25,2011,12,9,12,4,Q4,Medium,Medium,25
392658,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,UK,71.60,2011,12,9,12,4,Q4,Medium,Large,22
392691,581584,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,1.85,13777,UK,88.80,2011,12,9,12,4,Q4,Medium,Large,31
392715,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,4,Q4,High,Large,29
392716,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,4,Q4,Medium,Medium,21

### **PART G: Sorting Operations**

**Task 53:** Sort the entire dataset by InvoiceDate in ascending order.

In [ ]:
r_df.sort_values('InvoiceDate')

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,Q4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,Q4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,Q4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,Q4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,Q4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392719,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,4,Q4,Medium,Medium,25
392718,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,4,Q4,Medium,Medium,30
392730,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,Q4,Medium,Small,31
392723,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,12,9,12,4,Q4,Medium,Small,26
392731,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,Q4,Medium,Small,29

**Task 54:** Sort the dataset by TotalPrice in descending order.

In [ ]:
r_df.sort_values('TotalPrice', ascending=False)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
392266,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,4,Q4,High,Large,27
36527,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,Q1,High,Large,30
153601,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,4,Q2,High,Large,30
116879,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,1,Q2,High,Small,7
246062,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,1,Q3,High,Large,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349894,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.00,12444,Norway,0.00,2011,11,18,13,4,Q4,Low,Small,30
303649,572893,21208,PASTEL COLOUR HONEYCOMB FAN,5,2011-10-26 14:36:00,0.00,18059,UK,0.00,2011,10,26,14,2,Q4,Low,Medium,27
105823,550188,22636,CHILDS BREAKFAST SET CIRCUS PARADE,1,2011-04-14 18:57:00,0.00,12457,Switzerland,0.00,2011,4,14,18,3,Q2,Low,Small,34
28584,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.00,13081,UK,0.00,2011,1,6,16,3,Q1,Low,Large,22
127078,553000,47566,PARTY BUNTING,4,2011-05-12 15:21:00,0.00,17667,UK,0.00,2011,5,12,15,3,Q2,Low,Small,13

**Task 55:** Sort by Country (ascending) and then by TotalPrice (descending).

In [ ]:
r_df.sort_values(['Country', 'TotalPrice'], ascending=[True, False])

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
340982,576394,23084,RABBIT NIGHT LIGHT,960,2011-11-15 10:32:00,1.79,12415,Australia,1718.40,2011,11,15,10,1,Q4,High,Large,18
212492,563614,22940,FELTCRAFT CHRISTMAS FAIRY,336,2011-08-18 08:51:00,3.75,12415,Australia,1260.00,2011,8,18,8,3,Q3,High,Large,25
68531,545475,21217,RED RETROSPOT ROUND CAKE TINS,120,2011-03-03 10:59:00,8.95,12415,Australia,1074.00,2011,3,3,10,3,Q1,High,Large,29
212562,563614,23314,VINTAGE CHRISTMAS TABLECLOTH,100,2011-08-18 08:51:00,10.39,12415,Australia,1039.00,2011,8,18,8,3,Q3,High,Large,28
27586,540267,22720,SET OF 3 CAKE TINS PANTRY DESIGN,240,2011-01-06 11:12:00,4.25,12415,Australia,1020.00,2011,1,6,11,3,Q1,High,Large,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194944,561661,47343A,FUSCHIA FLOWER PURSE WITH BEADS,1,2011-07-28 16:21:00,0.83,12743,Unspecified,0.83,2011,7,28,16,3,Q3,Low,Small,31
194825,561658,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2011-07-28 16:06:00,0.75,12743,Unspecified,0.75,2011,7,28,16,3,Q3,Low,Small,35
194889,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743,Unspecified,0.39,2011,7,28,16,3,Q3,Low,Small,29
194939,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743,Unspecified,0.39,2011,7,28,16,3,Q3,Low,Small,29
194914,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,7,28,16,3,Q3,Low,Small,33

**Task 56:** Find the 20 highest-value transactions.

In [ ]:
r_df.sort_values('TotalPrice', ascending=False).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
392266,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,4,Q4,High,Large,27
36527,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,Q1,High,Large,30
153601,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,4,Q2,High,Large,30
116879,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,1,Q2,High,Small,7
246062,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,1,Q3,High,Large,35
32204,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,1,Q1,High,Large,34
108215,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,0,Q2,High,Large,34
304649,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,3,Q4,High,Large,18
32202,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,1,Q1,High,Large,34
108211,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,0,Q2,High,Large,34
32264,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,1,Q1,High,Large,18
169611,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,3,Q2,High,Large,21
108213,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,0,Q2,High,Large,18
201803,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,3,Q3,High,Large,29
305391,573080,M,MANUAL,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,10,27,14,3,Q4,High,Small,6
305367,573077,M,MANUAL,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06,2011,10,27,14,3,Q4,High,Small,6
31662,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450,UK,4121.64,2011,1,11,8,1,Q1,High,Large,21
292045,571751,M,MANUAL,1,2011-10-19 11:18:00,3949.32,12744,Singapore,3949.32,2011,10,19,11,2,Q4,High,Small,6
388178,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195,UK,3861.00,2011,12,7,12,2,Q4,High,Large,31
10526,537659,21623,VINTAGE UNION JACK MEMOBOARD,600,2010-12-07 16:43:00,6.38,18102,UK,3828.00,2010,12,7,16,1,Q4,High,Large,28

**Task 57:** Find the 20 lowest-value transactions (excluding returns).

In [ ]:
r_df.sort_values('TotalPrice').head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
354241,577696,M,MANUAL,1,2011-11-21 11:57:00,0.0,16406,UK,0.0,2011,11,21,11,0,Q4,Low,Small,6
197495,561916,M,MANUAL,1,2011-08-01 11:44:00,0.0,15581,UK,0.0,2011,8,1,11,0,Q3,Low,Small,6
253564,568158,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 12:22:00,0.0,16133,UK,0.0,2011,9,25,12,6,Q3,Low,Small,26
28584,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.0,13081,UK,0.0,2011,1,6,16,3,Q1,Low,Large,22
316451,574175,22065,CHRISTMAS PUDDING TRINKET POT,12,2011-11-03 11:47:00,0.0,14110,UK,0.0,2011,11,3,11,3,Q4,Low,Medium,30
28582,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06 16:41:00,0.0,13081,UK,0.0,2011,1,6,16,3,Q1,Low,Large,23
271006,569716,22778,GLASS CLOCHE SMALL,2,2011-10-06 08:17:00,0.0,15804,UK,0.0,2011,10,6,8,3,Q4,Low,Small,18
135490,554037,22619,SET OF 6 SOLDIER SKITTLES,80,2011-05-20 14:13:00,0.0,12415,Australia,0.0,2011,5,20,14,4,Q2,Low,Large,25
33947,541109,22168,ORGANISER WOOD ANTIQUE WHITE,1,2011-01-13 15:10:00,0.0,15107,UK,0.0,2011,1,13,15,3,Q1,Low,Small,29
349894,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.0,12444,Norway,0.0,2011,11,18,13,4,Q4,Low,Small,30
348842,577168,M,MANUAL,1,2011-11-18 10:42:00,0.0,12603,Germany,0.0,2011,11,18,10,4,Q4,Low,Small,6
283412,571035,M,MANUAL,1,2011-10-13 12:50:00,0.0,12446,RSA,0.0,2011,10,13,12,3,Q4,Low,Small,6
318647,574469,22385,JUMBO BAG SPACEBOY DESIGN,12,2011-11-04 11:55:00,0.0,12431,Australia,0.0,2011,11,4,11,4,Q4,Low,Medium,25
24893,539722,22423,REGENCY CAKESTAND 3 TIER,10,2010-12-21 13:45:00,0.0,14911,Ireland,0.0,2010,12,21,13,1,Q4,Low,Medium,24
22096,539263,22580,ADVENT CALENDAR GINGHAM SACK,4,2010-12-16 14:36:00,0.0,16560,UK,0.0,2010,12,16,14,3,Q4,Low,Small,28
316807,574252,M,MANUAL,1,2011-11-03 13:24:00,0.0,12437,France,0.0,2011,11,3,13,3,Q4,Low,Small,6
303649,572893,21208,PASTEL COLOUR HONEYCOMB FAN,5,2011-10-26 14:36:00,0.0,18059,UK,0.0,2011,10,26,14,2,Q4,Low,Medium,27
221551,564651,23268,SET OF 2 CERAMIC CHRISTMAS REINDEER,192,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0,2011,8,26,14,4,Q3,Low,Large,35
221552,564651,22955,36 FOIL STAR CAKE CASES,144,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0,2011,8,26,14,4,Q3,Low,Large,24
53001,543599,84535B,FAIRY CAKES NOTEBOOK A6 SIZE,16,2011-02-10 13:08:00,0.0,17560,UK,0.0,2011,2,10,13,3,Q1,Low,Medium,28

### **PART H: Aggregation and Summary Statistics**

**Task 58:** Calculate the total revenue generated across all transactions.

In [ ]:
r_df['TotalPrice'].sum()

np.float64(8887208.894000003)

**Task 59:** Calculate the average transaction value.

In [ ]:
r_df['TotalPrice'].mean()

np.float64(22.629194702748958)

**Task 60:** Find the maximum and minimum transaction values.

In [ ]:
r_df['TotalPrice'].max()

168469.6

In [ ]:
r_df['TotalPrice'].min()

0.0

**Task 61:** Calculate the total number of unique customers.

In [ ]:
r_df['CustomerID'].nunique()

4339

**Task 62:** Calculate the total number of unique products sold.

In [ ]:
r_df['ProductName'].nunique()

3877


**Task 63:** Find out how many unique countries are represented in the data.

In [ ]:
r_df['Country'].nunique()

37

**Task 64:** Calculate the average number of items per transaction.

In [ ]:
r_df['Quantity'].mean()

np.float64(13.15371805709746)


**Task 65:** Find which product appears most frequently in transactions.

In [ ]:
r_df['ProductName'].mode()[0]

'WHITE HANGING HEART T-LIGHT HOLDER'

### **PART I: Country-wise Analysis**

**Task 66:** Calculate total revenue for each country.

In [ ]:
r_df.groupby('Country')['TotalPrice'].sum()

Country
Australia                138453.810
Austria                   10198.680
Bahrain                     548.400
Belgium                   41196.340
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20440.540
Cyprus                    13502.850
Czech Republic              826.740
Denmark                   18955.340
European Community         1300.250
Finland                   22546.080
France                   208934.310
Germany                  228678.400
Greece                     4760.520
Iceland                    4310.000
Ireland                  265262.460
Israel                     7215.840
Italy                     17483.240
Japan                     37416.370
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2725.590
Netherlands              285446.340
Norway                    36165.440
Poland                     7334.650
Portugal                  33375.840
RSA                        1002.310
Saudi Arabia                145.920
Singapore                 21279.290
Spain                     61558.560
Sweden                    38367.830
Switzerland               56443.950
UK                      7285024.644
USA                        3580.390
United Arab Emirates       1902.280
Unspecified                2660.770
Name: TotalPrice, dtype: float64

**Task 67:** Find the top 10 countries by total revenue.

In [ ]:
r_df.groupby('Country')['TotalPrice'].sum().sort_values().tail(10)

Country
Sweden           38367.830
Belgium          41196.340
Switzerland      56443.950
Spain            61558.560
Australia       138453.810
France          208934.310
Germany         228678.400
Ireland         265262.460
Netherlands     285446.340
UK             7285024.644
Name: TotalPrice, dtype: float64


**Task 68:** Calculate the number of transactions per country.

In [ ]:
r_df.groupby('Country')['InvoiceNo'].nunique()

Country
Australia                  57
Austria                    17
Bahrain                     2
Belgium                    98
Brazil                      1
Canada                      6
Channel Islands            26
Cyprus                     16
Czech Republic              2
Denmark                    18
European Community          4
Finland                    41
France                    389
Germany                   457
Greece                      5
Iceland                     7
Ireland                   260
Israel                      5
Italy                      38
Japan                      19
Lebanon                     1
Lithuania                   4
Malta                       5
Netherlands                95
Norway                     36
Poland                     19
Portugal                   57
RSA                         1
Saudi Arabia                1
Singapore                   7
Spain                      90
Sweden                     36
Switzerland                51
UK                      16649
USA                         5
United Arab Emirates        3
Unspecified                 8
Name: InvoiceNo, dtype: int64

**Task 69:** Calculate the average transaction value for each country.

In [ ]:
r_df.groupby('Country')['TotalPrice'].mean()

Country
Australia               116.937340
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.363507
Cyprus                   22.392786
Czech Republic           33.069600
Denmark                  49.882474
European Community       21.670833
Finland                  32.913985
France                   25.091187
Germany                  25.332713
Greece                   32.831172
Iceland                  23.681319
Ireland                  36.699289
Israel                   29.452408
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             120.798282
Norway                   33.736418
Poland                   22.226212
Portugal                 22.970296
RSA                      17.281207
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.822000
Sweden                   85.261844
Switzerland              30.642752
UK                       20.860428
USA                      20.002179
United Arab Emirates     27.974706
Unspecified              11.040539
Name: TotalPrice, dtype: float64


**Task 70:** Find which country has the highest average order value.

In [ ]:
r_df.groupby('Country')['TotalPrice'].mean().idxmax()

'Netherlands'

**Task 71:** Calculate the total quantity of products sold to each country.

In [ ]:
r_df.groupby('Country')['Quantity'].sum()

Country
Australia                 84199
Austria                    4881
Bahrain                     260
Belgium                   23237
Brazil                      356
Canada                     2763
Channel Islands            9485
Cyprus                     6340
Czech Republic              671
Denmark                    8235
European Community          499
Finland                   10704
France                   111429
Germany                  119156
Greece                     1557
Iceland                    2458
Ireland                  140383
Israel                     4043
Italy                      8112
Japan                     26016
Lebanon                     386
Lithuania                   652
Malta                       970
Netherlands              200937
Norway                    19338
Poland                     3684
Portugal                  16095
RSA                         352
Saudi Arabia                 80
Singapore                  5241
Spain                     27944
Sweden                    36078
Switzerland               30083
UK                      4254037
USA                        2458
United Arab Emirates        982
Unspecified                1785
Name: Quantity, dtype: int64

**Task 72:** Find the country with the most unique customers.

In [ ]:
r_df.groupby('Country')['CustomerID'].nunique().idxmax()

'UK'

### **PART J: Time-based Analysis**

**Task 73:** Calculate total revenue for each month.

In [ ]:
r_df.groupby('Month')["TotalPrice"].sum()

Month
1      568101.310
2      446084.920
3      594081.760
4      468374.331
5      677355.150
6      660046.050
7      598962.901
8      644051.040
9      950690.202
10    1035642.450
11    1156205.610
12    1087613.170
Name: TotalPrice, dtype: float64


**Task 74:** Find which month had the highest sales.

In [ ]:
r_df.groupby('Month')["TotalPrice"].sum().sort_values(ascending=False).head(1)

Month
11    1156205.61
Name: TotalPrice, dtype: float64

**Task 75:** Calculate revenue for each quarter.

In [ ]:
r_df.groupby('Quarter')['TotalPrice'].sum()

Quarter
Q1    1608267.990
Q2    1805775.531
Q3    2193704.143
Q4    3279461.230
Name: TotalPrice, dtype: float64

**Task 76:** Calculate the number of transactions per day of the week.

In [ ]:
r_df.groupby('DayOfWeek')['InvoiceNo'].nunique()

DayOfWeek
0    2863
1    3185
2    3455
3    4033
4    2831
6    2169
Name: InvoiceNo, dtype: int64

In [ ]:
r_df.sample(1)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,lenofproductname
116060,551532,22822,CREAM WALL PLANTER HEART SHAPED,2,2011-05-01 14:17:00,5.95,16554,UK,11.9,2011,5,1,14,6,Q2,Medium,Small,31


**Task 77:** Find which day of the week has the highest average revenue.

In [ ]:
r_df.groupby('DayOfWeek')['TotalPrice'].mean().sort_values().tail(1)

DayOfWeek
4    27.347473
Name: TotalPrice, dtype: float64

**Task 78:** Calculate hourly sales patterns (revenue by hour of day).

In [ ]:
r_df.groupby('Hour')['TotalPrice'].sum()

Hour
6           4.250
7       31059.210
8      281997.790
9      842392.341
10    1259267.591
11    1101177.600
12    1373695.390
13    1168724.200
14     991992.821
15     963559.680
16     467380.560
17     233811.591
18     104744.990
19      48568.400
20      18832.480
Name: TotalPrice, dtype: float64

**Task 79:** Compare sales between 2010 and 2011.

In [ ]:
rev = r_df.groupby('Year')['TotalPrice'].sum()
rev

Year
2010     570422.730
2011    8316786.164
Name: TotalPrice, dtype: float64

In [ ]:
rev = r_df.groupby('Year')['TotalPrice'].sum()
rev.loc[2011]-rev.loc[2010]

np.float64(7746363.434)


**Task 80:** Calculate month-over-month revenue growth rate.

In [ ]:
r_df.groupby('Month')['TotalPrice'].sum()

Month
1      568101.310
2      446084.920
3      594081.760
4      468374.331
5      677355.150
6      660046.050
7      598962.901
8      644051.040
9      950690.202
10    1035642.450
11    1156205.610
12    1087613.170
Name: TotalPrice, dtype: float64

### **PART K: Customer Analysis**

**Task 81:** Calculate total spending for each customer.

In [ ]:
r_df.groupby('CustomerID')['TotalPrice'].sum()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2045.53
18287     1837.28
Name: TotalPrice, Length: 4339, dtype: float64

**Task 82:** Find the top 20 customers by total spending.

In [ ]:
r_df.groupby('CustomerID')['TotalPrice'].sum().sort_values().tail(20)

CustomerID
14088     50491.81
14298     51527.30
15061     54534.14
15769     56252.72
17949     58510.48
13089     58762.08
15311     60632.75
13694     65039.62
14096     65164.79
16684     66653.56
12346     77183.60
16029     80850.84
17511     91062.38
14156    117210.08
12415    124914.53
14911    143711.17
16446    168472.50
17450    194390.79
18102    259657.30
14646    280206.02
Name: TotalPrice, dtype: float64

**Task 83:** Calculate the number of transactions per customer.

In [ ]:
r_df.groupby('CustomerID')['InvoiceNo'].nunique()

CustomerID
12346     1
12347     7
12348     4
12349     1
12350     1
         ..
18280     1
18281     1
18282     2
18283    16
18287     3
Name: InvoiceNo, Length: 4339, dtype: int64

**Task 84:** Find the average order value for each customer.

In [ ]:
r_df.groupby('CustomerID')['TotalPrice'].mean()

CustomerID
12346    77183.600000
12347       23.681319
12348       57.975484
12349       24.076027
12350       19.670588
             ...
18280       18.060000
18281       11.545714
18282       14.837500
18283        2.837074
18287       26.246857
Name: TotalPrice, Length: 4339, dtype: float64

**Task 85:** Identify customers who have made only one purchase.

In [ ]:
r_df.groupby('CustomerID')['InvoiceNo'].nunique()[r_df.groupby('CustomerID')['InvoiceNo'].nunique() == 1]

CustomerID
12346    1
12349    1
12350    1
12353    1
12354    1
        ..
18276    1
18277    1
18278    1
18280    1
18281    1
Name: InvoiceNo, Length: 1494, dtype: int64


**Task 86:** Find customers who spent more than 10,000 in total.

In [ ]:
r_df.columns

Index(['InvoiceNo', 'StockCode', 'ProductName', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'TotalPrice', 'Year', 'Month',
       'Day', 'Hour', 'DayOfWeek', 'Quarter', 'RevenueCategory', 'OrderSize',
       'lenofproductname'],
      dtype='object')

In [ ]:
r_df.groupby('CustomerID')['TotalPrice'].sum()[r_df.groupby('CustomerID')['TotalPrice'].sum() > 10000]

CustomerID
12346     77183.60
12409     11072.67
12415    124914.53
12433     13375.87
12471     19788.65
           ...
17841     40519.84
17857     26879.04
17865     10526.32
17949     58510.48
18102    259657.30
Name: TotalPrice, Length: 104, dtype: float64


**Task 87:** Calculate the average number of days between purchases for each customer.

In [ ]:
r_df.groupby('CustomerID')['InvoiceDate'].diff().dt.days.groupby(r_df['CustomerID']).mean()

CustomerID
12346          NaN
12347     2.000000
12348     9.400000
12349     0.000000
12350     0.000000
           ...
18280     0.000000
18281     0.000000
18282    10.727273
18283     0.454167
18287     2.275362
Name: InvoiceDate, Length: 4339, dtype: float64

### **PART L: Product Analysis**

**Task 88:** Find the top 20 products by revenue.

In [ ]:
r_df.groupby('ProductName')['TotalPrice'].sum().sort_values().tail(20)

ProductName
JAM MAKING SET WITH JARS               32616.22
SET OF 3 CAKE TINS PANTRY DESIGN       33298.30
WOOD BLACK BOARD ANT WHITE FINISH      34414.71
SPOTTY BUNTING                         35509.55
DOORMAT KEEP CALM AND COME IN          35880.85
JUMBO BAG PINK POLKADOT                37254.36
BLACK RECORD COVER FRAME               39045.80
PICNIC BASKET WICKER 60 PIECES         39619.50
PAPER CHAIN KIT 50'S CHRISTMAS         42584.13
CHILLI LIGHTS                          46265.11
RABBIT NIGHT LIGHT                     51251.24
MANUAL                                 53419.93
ASSORTED COLOUR BIRD ORNAMENT          56413.03
PARTY BUNTING                          68785.23
POSTAGE                                77803.96
MEDIUM CERAMIC TOP STORAGE JAR         81416.73
JUMBO BAG RED RETROSPOT                85040.54
WHITE HANGING HEART T-LIGHT HOLDER    100392.10
REGENCY CAKESTAND 3 TIER              142264.75
PAPER CRAFT , LITTLE BIRDIE           168469.60
Name: TotalPrice, dtype: float64

**Task 89:** Find the top 20 products by quantity sold.

In [ ]:
r_df.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False).head(20)

ProductName
PAPER CRAFT , LITTLE BIRDIE           80995
MEDIUM CERAMIC TOP STORAGE JAR        77916
WORLD WAR 2 GLIDERS ASSTD DESIGNS     54319
JUMBO BAG RED RETROSPOT               46078
WHITE HANGING HEART T-LIGHT HOLDER    36706
ASSORTED COLOUR BIRD ORNAMENT         35263
PACK OF 72 RETROSPOT CAKE CASES       33670
POPCORN HOLDER                        30919
RABBIT NIGHT LIGHT                    27153
MINI PAINT SET VINTAGE                26076
PACK OF 12 LONDON TISSUES             25329
PACK OF 60 PINK PAISLEY CAKE CASES    24230
BROCADE RING PURSE                    22927
VICTORIAN GLASS HANGING T-LIGHT       22404
ASSORTED COLOURS SILK FAN             21876
RED  HARMONICA IN BOX                 20945
JUMBO BAG PINK POLKADOT               20148
SMALL POPCORN HOLDER                  18241
60 TEATIME FAIRY CAKE CASES           17664
LUNCH BAG RED RETROSPOT               17576
Name: Quantity, dtype: int64

**Task 90:** Calculate the average price for each product.

In [ ]:
r_df.groupby('ProductName')['UnitPrice'].mean()

ProductName
 4 PURPLE FLOCK DINNER CANDLES       2.312162
 50'S CHRISTMAS GIFT BAG LARGE       1.248073
 DOLLY GIRL BEAKER                   1.243704
 I LOVE LONDON MINI BACKPACK         4.138406
 I LOVE LONDON MINI RUCKSACK         4.150000
                                      ...
ZINC T-LIGHT HOLDER STARS SMALL      0.836975
ZINC TOP  2 DOOR WOODEN SHELF       16.950000
ZINC WILLIE WINKIE  CANDLE STICK     0.872461
ZINC WIRE KITCHEN ORGANISER          7.175000
ZINC WIRE SWEETHEART LETTER TRAY     3.454000
Name: UnitPrice, Length: 3877, dtype: float64


**Task 91:** Find products that have been sold to more than 10 different countries.

In [ ]:
x = r_df.groupby('ProductName')['Country'].nunique()
x[x > 10]

ProductName
 DOLLY GIRL BEAKER                     11
 SPACEBOY BABY GIFT SET                13
10 COLOUR SPACEBOY PEN                 12
12 PENCIL SMALL TUBE WOODLAND          11
12 PENCILS SMALL TUBE RED RETROSPOT    11
                                       ..
WRAP PAISLEY PARK                      14
WRAP RED APPLES                        14
WRAP RED VINTAGE DOILY                 12
ZINC FOLKART SLEIGH BELLS              11
ZINC METAL HEART DECORATION            11
Name: Country, Length: 496, dtype: int64


**Task 92:** Identify the most expensive and cheapest products.

In [ ]:
r_df.groupby('ProductName')['UnitPrice'].mean().idxmax()

'DOTCOM POSTAGE'

In [ ]:
r_df.groupby('ProductName')['UnitPrice'].mean().idxmin()

'PADS TO MATCH ALL CUSHIONS'

### **PART M: Advanced Grouping**

**Task 93:** Calculate total revenue by Country and Year.

In [ ]:
r_df.groupby(['Country','Year'])['TotalPrice'].sum()

Country               Year
Australia             2010        965.350
                      2011     137488.460
Austria               2010        277.200
                      2011       9921.480
Bahrain               2011        548.400
Belgium               2010       1809.910
                      2011      39386.430
Brazil                2011       1143.600
Canada                2011       3666.380
Channel Islands       2010        363.530
                      2011      20077.010
Cyprus                2010       1587.070
                      2011      11915.780
Czech Republic        2011        826.740
Denmark               2010       1281.500
                      2011      17673.840
European Community    2011       1300.250
Finland               2010        892.800
                      2011      21653.280
France                2010       9616.310
                      2011     199318.000
Germany               2010      15205.740
                      2011     213472.660
Greece                2011       4760.520
Iceland               2010        711.790
                      2011       3598.210
Ireland               2010       8813.880
                      2011     256448.580
Israel                2011       7215.840
Italy                 2010        811.500
                      2011      16671.740
Japan                 2010       7705.070
                      2011      29711.300
Lebanon               2011       1693.880
Lithuania             2010       1661.060
Malta                 2011       2725.590
Netherlands           2010       8784.480
                      2011     276661.860
Norway                2010       3787.120
                      2011      32378.320
Poland                2010        248.160
                      2011       7086.490
Portugal              2010       2439.970
                      2011      30935.870
RSA                   2011       1002.310
Saudi Arabia          2011        145.920
Singapore             2011      21279.290
Spain                 2010       1843.730
                      2011      59714.830
Sweden                2010       3834.300
                      2011      34533.530
Switzerland           2010       1304.920
                      2011      55139.030
UK                    2010     496477.340
                      2011    6788547.304
USA                   2011       3580.390
United Arab Emirates  2011       1902.280
Unspecified           2011       2660.770
Name: TotalPrice, dtype: float64


**Task 94:** Calculate average transaction value by Country and Quarter.

In [ ]:
r_df.groupby(['Country','Quarter','InvoiceNo'])['TotalPrice'].sum().groupby(['Country','Quarter']).mean()

Country               Quarter
Australia             Q1         2408.065882
                      Q2         3959.778000
                      Q3         1915.312353
                      Q4         1950.661538
Austria               Q1          556.620000
                                    ...
USA                   Q4          799.110000
United Arab Emirates  Q1          889.240000
                      Q3          506.520000
Unspecified           Q2          445.853333
                      Q3          264.642000
Name: TotalPrice, Length: 117, dtype: float64

**Task 95:** Find the number of transactions by Country and Month.

In [ ]:
r_df.groupby(['Country','Month'])['InvoiceNo'].nunique()

Country      Month
Australia    1        9
             2        5
             3        3
             4        2
             5        4
                     ..
Unspecified  4        1
             5        1
             6        1
             7        3
             8        2
Name: InvoiceNo, Length: 271, dtype: int64


**Task 96:** Calculate total revenue by Day of Week and Hour.

In [ ]:
r_df.groupby(['DayOfWeek','Hour'])['TotalPrice'].sum()

DayOfWeek  Hour
0          7         1494.580
           8        43343.390
           9       123955.190
           10      183627.120
           11      160302.060
                      ...
6          12      152903.710
           13      137280.880
           14      104196.381
           15      129053.660
           16       38799.070
Name: TotalPrice, Length: 73, dtype: float64


**Task 97:** For each country, calculate the sum, mean, maximum, and minimum TotalPrice.

In [ ]:
r_df.groupby('Country')['TotalPrice'].agg(['sum','mean','max','min'])

                              sum        mean        max    min
Country
Australia              138453.810  116.937340    1718.40   0.00
Austria                 10198.680   25.624824     360.00   2.88
Bahrain                   548.400   32.258824     120.00  11.60
Belgium                 41196.340   20.283772     165.00   2.50
Brazil                   1143.600   35.737500     175.20  15.00
Canada                   3666.380   24.280662     550.94   2.50
Channel Islands         20440.540   27.363507     408.00   4.56
Cyprus                  13502.850   22.392786     320.69   0.83
Czech Republic            826.740   33.069600      70.80  10.08
Denmark                 18955.340   49.882474     428.40   4.68
European Community       1300.250   21.670833      60.00   7.80
Finland                 22546.080   32.913985     551.20   2.34
France                 208934.310   25.091187    4161.06   0.00
Germany                228678.400   25.332713     876.00   0.00
Greece                   4760.520   32.831172     175.20   3.36
Iceland                  4310.000   23.681319     249.60   5.04
Ireland                265262.460   36.699289    2365.20   0.00
Israel                   7215.840   29.452408     350.40   0.95
Italy                   17483.240   23.064960     300.00   2.88
Japan                   37416.370  116.561900    3794.40   0.29
Lebanon                  1693.880   37.641778     153.00  10.20
Lithuania                1661.060   47.458857     122.40  13.20
Malta                    2725.590   24.335625     455.00   2.28
Netherlands            285446.340  120.798282    4992.00   0.00
Norway                  36165.440   33.736418     700.00   0.00
Poland                   7334.650   22.226212     120.00   6.60
Portugal                33375.840   22.970296    1241.98   0.29
RSA                      1002.310   17.281207      38.25   0.00
Saudi Arabia              145.920   16.213333      19.80   5.04
Singapore               21279.290   95.852658    3949.32   2.34
Spain                   61558.560   24.822000    1350.00   0.00
Sweden                  38367.830   85.261844    1188.00   5.04
Switzerland             56443.950   30.642752     360.00   0.00
UK                    7285024.644   20.860428  168469.60   0.00
USA                      3580.390   20.002179      81.36   1.25
United Arab Emirates     1902.280   27.974706     153.00   3.48
Unspecified              2660.770   11.040539      69.36   0.19

**Task 98:** For each customer, calculate their total spending, number of orders, and average order value.

In [ ]:
orders = r_df.groupby(['CustomerID','InvoiceNo'])['TotalPrice'].sum().reset_index()
orders.groupby('CustomerID')['TotalPrice'].agg(
    total_spent='sum',
    num_orders='count',
    avg_order_value='mean'
)

            total_spent  num_orders  avg_order_value
CustomerID
12346          77183.60           1     77183.600000
12347           4310.00           7       615.714286
12348           1797.24           4       449.310000
12349           1757.55           1      1757.550000
12350            334.40           1       334.400000
...                 ...         ...              ...
18280            180.60           1       180.600000
18281             80.82           1        80.820000
18282            178.05           2        89.025000
18283           2045.53          16       127.845625
18287           1837.28           3       612.426667

[4339 rows x 3 columns]


**Task 99:** For each product, calculate total quantity sold and total revenue generated.

In [ ]:
r_df.groupby('ProductName').agg(total_quantity=('Quantity','sum'), total_revenue=('TotalPrice','sum'))

                                  total_quantity  total_revenue
ProductName
 4 PURPLE FLOCK DINNER CANDLES               138         265.66
 50'S CHRISTMAS GIFT BAG LARGE              1885        2272.25
 DOLLY GIRL BEAKER                          2394        2754.50
 I LOVE LONDON MINI BACKPACK                 359        1449.85
 I LOVE LONDON MINI RUCKSACK                   1           4.15
...                                          ...            ...
ZINC T-LIGHT HOLDER STARS SMALL             4894        3879.98
ZINC TOP  2 DOOR WOODEN SHELF                 10         169.50
ZINC WILLIE WINKIE  CANDLE STICK            2606        2176.10
ZINC WIRE KITCHEN ORGANISER                   25         156.80
ZINC WIRE SWEETHEART LETTER TRAY              80         253.24

[3877 rows x 2 columns]

### **PART N: Creating Summary Reports**

**Task 100:** Create a summary table showing monthly sales for each country (countries as rows, months as columns).

In [709]:
r_df.pivot_table(
    values='TotalPrice',
    index='Country',
    columns='Month',
    aggfunc='sum',
    fill_value=0
)

Month,1,2,3,4,5,6,7,8,9,10,11,12
Country,,,,,,,,,,,,
Australia,9017.71,14695.42,17223.99,771.600,13638.41,25187.77,4964.380,22489.20,5106.730,17150.53,7242.72,965.35
Austria,0.00,518.36,1708.12,680.780,1249.43,0.00,1191.950,1516.08,0.000,1043.78,1329.78,960.40
Bahrain,0.00,0.00,0.00,0.000,548.40,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Belgium,1200.20,2181.07,3351.98,1989.480,2732.40,4274.82,2475.570,3554.02,4208.020,5685.38,6315.76,3227.64
Brazil,0.00,0.00,0.00,1143.600,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Canada,0.00,0.00,140.54,0.000,534.24,1171.46,1768.580,51.56,0.000,0.00,0.00,0.00
Channel Islands,675.58,1784.71,3509.33,293.000,1207.24,2060.03,0.000,4886.88,1323.750,2623.32,1514.77,561.93
Cyprus,547.50,4334.24,938.39,0.000,0.00,1109.32,0.000,0.00,196.350,4350.32,439.66,1587.07
Czech Republic,0.00,549.26,0.00,0.000,0.00,0.00,0.000,0.00,0.000,277.48,0.00,0.00
Denmark,0.00,399.22,3978.99,0.000,515.70,3261.15,376.240,213.15,4570.160,1490.76,2699.57,1450.40
European Community,0.00,0.00,0.00,191.400,0.00,432.05,676.800,0.00,0.000,0.00,0.00,0.00
Finland,889.02,205.16,5936.82,1688.920,0.00,329.56,2996.730,1376.50,1105.450,2822.12,3070.24,2125.56
France,17740.12,8515.96,14584.95,5529.610,17606.48,16078.97,10000.190,13810.96,23428.040,33471.05,31274.75,16893.23
Germany,16880.84,9581.05,14392.69,12315.540,25734.70,13246.35,16440.980,19220.77,18079.470,31628.42,27967.68,23189.91
Greece,2661.24,0.00,387.31,609.740,0.00,0.00,421.240,0.00,0.000,0.00,0.00,680.99
Iceland,475.39,0.00,0.00,636.250,0.00,382.52,0.000,584.91,0.000,1294.32,0.00,936.61
Ireland,21904.19,10111.52,21674.36,7570.500,15977.15,19835.99,40854.150,16957.83,40832.640,24302.92,29448.41,15792.80
Israel,0.00,779.10,0.00,0.000,0.00,0.00,1430.750,4873.81,0.000,132.18,0.00,0.00
Italy,2402.51,256.00,1806.81,737.830,587.45,202.07,147.100,1990.95,279.800,3489.69,4571.08,1011.95
Japan,0.00,5780.81,48.90,6548.500,1351.45,1607.04,3854.400,0.00,112.080,1948.04,8460.08,7705.07
Lebanon,1693.88,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Lithuania,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,1661.06
Malta,0.00,0.00,0.00,0.000,0.00,863.16,0.000,1119.00,0.000,0.00,743.43,0.00
Netherlands,26611.16,23011.91,22416.49,2976.560,29185.88,26858.09,26.020,40327.81,26937.260,40708.65,25874.01,20512.50
Norway,0.00,630.90,1265.31,0.000,0.00,5886.86,890.070,2025.81,8678.940,3687.23,6527.50,6572.82
Poland,613.22,604.05,317.78,705.840,1522.37,343.65,687.300,401.80,529.250,0.00,1361.23,248.16
Portugal,4055.71,1213.90,2660.85,1687.750,4202.23,884.46,2287.850,1221.40,1433.220,5877.01,2603.30,5248.16
RSA,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,1002.31,0.00,0.00
Saudi Arabia,0.00,145.92,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Singapore,2053.07,0.00,0.00,8209.580,0.00,0.00,3949.320,0.00,0.000,7067.32,0.00,0.00
Spain,10086.09,2114.50,5363.15,1785.650,3257.60,3333.21,7620.770,3342.41,5189.240,8636.94,8669.06,2159.94
Sweden,3486.32,509.50,4720.58,809.100,2681.98,832.00,6802.090,1390.36,4575.210,5766.16,2722.23,4072.30
Switzerland,4231.23,2654.92,1870.23,2076.940,3610.01,7904.15,3762.650,4969.89,8284.860,7655.19,8118.96,1304.92
UK,440876.33,354618.20,465784.19,408733.111,550359.35,523775.59,484545.591,497194.91,794806.692,821220.13,975251.39,967859.16
USA,0.00,0.00,0.00,383.950,0.00,0.00,0.000,0.00,0.000,2311.20,0.00,885.24
United Arab Emirates,0.00,889.24,0.00,0.000,0.00,0.00,0.000,0.00,1013.040,0.00,0.00,0.00
Unspecified,0.00,0.00,0.00,299.100,852.68,185.78,792.180,531.03,0.000,0.00,0.00,0.00


**Task 101:** Create a summary showing average quantity purchased by country and quarter.

In [710]:
r_df.pivot_table(
    values='Quantity',
    index='Country',
    columns='Quarter',
    aggfunc='mean',
    fill_value=0
)

Quarter                       Q1          Q2         Q3         Q4
Country
Australia              76.429012   83.174342  59.692935  64.808511
Austria                33.948718   10.220779   9.531469  10.122302
Bahrain                 0.000000   15.294118   0.000000   0.000000
Belgium                10.943452   10.663286  11.298419  12.336207
Brazil                  0.000000   11.125000   0.000000   0.000000
Canada                  8.800000   27.517241  13.000000   0.000000
Channel Islands        14.855856    9.330645  13.563725  11.487310
Cyprus                 15.181818    7.574468  33.000000   7.794030
Czech Republic         23.066667    0.000000   0.000000  32.500000
Denmark                28.282051   15.296000  27.683544  22.138686
European Community      0.000000    5.290323  11.551724   0.000000
Finland                14.523207   18.396226  14.016949  17.458716
France                 14.319975   14.233399  12.955718  12.760946
Germany                12.749697   14.133297  12.878070  13.125195
Greece                 15.092593    8.451613  10.166667   6.555556
Iceland                10.862069   16.166667  12.590909  13.337079
Ireland                21.918970   17.206720  23.095698  16.280411
Israel                 17.875000    0.000000  18.489899   3.096774
Italy                   9.411765   17.727273  10.491379  10.443864
Japan                  29.900990  172.765625  57.488372  83.778761
Lebanon                 8.577778    0.000000   0.000000   0.000000
Lithuania               0.000000    0.000000   0.000000  18.628571
Malta                   0.000000    8.933333   6.945455  15.500000
Netherlands            85.060956   73.619893  88.712406  91.773071
Norway                  8.200000   12.102410  17.917683  21.034417
Poland                 12.048387   10.263636   9.202532  13.683544
Portugal               14.802768    8.229268  16.475490   8.965563
RSA                     0.000000    0.000000   0.000000   6.068966
Saudi Arabia            8.888889    0.000000   0.000000   0.000000
Singapore              19.482143   24.368421  28.800000  17.676471
Spain                  10.692194   10.363874  11.532836  12.013351
Sweden                108.074074   40.306818  89.000000  80.786667
Switzerland            15.943574   19.960674  15.158974  15.503436
UK                     12.944398   12.175811  13.062659  11.344858
USA                     0.000000    6.227273   0.000000  14.783439
United Arab Emirates   16.533333    0.000000  12.789474   0.000000
Unspecified             0.000000   14.083333   4.562130   0.000000


**Task 102:** Create a table showing the count of transactions in each RevenueCategory by Country.

In [711]:
r_df.pivot_table(
    values='InvoiceNo',
    index='Country',
    columns='RevenueCategory',
    aggfunc='nunique',
    fill_value=0
)

RevenueCategory       High   Low  Medium
Country
Australia               27    16      49
Austria                  6    10      17
Bahrain                  1     0       2
Belgium                 10    69      98
Brazil                   1     0       1
Canada                   2     4       4
Channel Islands          7     9      22
Cyprus                   9     7      13
Czech Republic           0     0       2
Denmark                  7     9      17
European Community       0     1       4
Finland                 27    17      40
France                  73   239     378
Germany                116   254     446
Greece                   2     4       5
Iceland                  3     5       7
Ireland                 77   139     246
Israel                   3     5       4
Italy                    8    18      36
Japan                   11     5      12
Lebanon                  1     0       1
Lithuania                1     0       4
Malta                    2     2       5
Netherlands             64    28      79
Norway                  16    20      32
Poland                   2    11      19
Portugal                18    32      51
RSA                      0     1       1
Saudi Arabia             0     1       1
Singapore                6     4       4
Spain                   33    54      84
Sweden                  18    11      32
Switzerland             28    35      46
UK                    3529  9770   15262
USA                      0     3       5
United Arab Emirates     1     1       3
Unspecified              0     4       8